# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
ENV/
*.venv
*.env
Script_08_Google_Sheets/secrets.json

# VSCode settings (optional)
.vscode/